.footer__menu-item {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 32px 0;

}

.footer__menu-item:last-of-type {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__menu-item {
    font-size: 16px;
    line-height: 18px;
    margin: 0 18px 0 0;
  }
}
