.lead__title {
  font-family: "Inter";
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
  color: #fff;
  padding: 0 16px 0 16px;
  margin: 0 auto 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 32px;
    width: 720px;
    padding: 0 24px 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    padding: 0;
  }
}

