.lead__subtitle {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #fff;
  margin: 0 auto 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 288px;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 56px;
    width: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    padding: 0;
  }
}
