.footer {
  max-width: 1184px;
  height: 310px;
  margin: 0 auto;
  padding: 64px 0 24px 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px){
 .footer {
   flex-direction: row;
   align-items: center;
   height: 18px;
   padding: 88px 24px 24px 24px;
 }
}

@media screen and (min-width: 1024px){
  .footer {
    padding: 92px 48px 48px 48px;
  }
 }


